flows (1).json
[{"id":"e9f79032.58a1c","type":"function","z":"454d4c77.ccb104","name":"input","func":"msg.payload=msg.payload.input\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["48d2c8ff.3cfdf8","297cf389.f1e88c"]]},{"id":"48d2c8ff.3cfdf8","type":"watson-conversation-v1","z":"454d4c77.ccb104","name":"","workspaceid":"78e5f4d5-5174-429d-8acf-10892d7e70eb","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api/v1/workspaces/78e5f4d5-5174-429d-8acf-10892d7e70eb/message","timeout":"","optout-learning":false,"x":740,"y":180,"wires":[["f65c28d.59959d8"]]},{"id":"f65c28d.59959d8","type":"function","z":"454d4c77.ccb104","name":"parser","func":"msg.payload.text=\"\";\n/*if(msg.payload.context.webhook_result_1)\n{   \n    for( var i in msg.payload.context.webhook_result_1.results)\n{\nmsg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n        msg.payload=msg.payload.text;\n    \n}\nelse*/\nmsg.payload = msg.payload.output.text[0];\n    return msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["f993ba70.c45c98"]]},{"id":"297cf389.f1e88c","type":"debug","z":"454d4c77.ccb104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":400,"wires":[]},{"id":"f993ba70.c45c98","type":"ui_text","z":"454d4c77.ccb104","group":"ceaa3da7.34413","order":4,"width":0,"height":0,"name":"","label":"Spyro:","format":"{{msg.payload}}","layout":"row-center","x":790,"y":500,"wires":[]},{"id":"a3e6a303.52a82","type":"ui_form","z":"454d4c77.ccb104","name":"","label":"Hey I am spyro \"the customer care chat bot\" here to answer your questions related to METRO stores .","group":"ceaa3da7.34413","order":2,"width":0,"height":0,"options":[{"label":"Enter Your Query :","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":235,"y":160,"wires":[["e9f79032.58a1c"]],"l":false},{"id":"ceaa3da7.34413","type":"ui_group","z":"","name":"Customer Care Bot","tab":"772f427f.fd4c9c","order":1,"disp":true,"width":"30","collapse":false},{"id":"772f427f.fd4c9c","type":"ui_tab","z":"","name":"Spyro","icon":"dashboard","disabled":false,"hidden":false}]